<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Ensure nuget.org is available for package restore -->
    <!-- This supplements (not replaces) any existing package sources -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
