**.bak
*.local.*
!**/README.md
.kitchen/

~*.*
*.nupkg
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Oo]utput/

# allow the module folder for now until it can be deployed to the PowerShell Gallery
!output/module/MicrosoftFabricMgmt

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Visual Studio code coverage results
*.coverage
.vs
.psproj
.sln
markdownissues.txt
node_modules
package-lock.json

# just a comment
